footer{
    background: radial-gradient(40.31% 50.05% at 50% 0%, rgba(97, 134, 204, 0.1) 0%, rgba(93, 126, 190, 0) 100%), #383D50;
    padding: 100px 0;
}
footer .container{
    max-width: 1226px;
}
.footer__cnt{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 464px;
    width: 100%;
    height: 250px;
    background: #CFEED6;
    border-radius: 30px;
    position: relative;
}
.footer__logo:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../img/line14.webp");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 212px;
    width: 100%;
    height: 208px;
    border-radius: 0 0 30px 0;
}
.footer__logo img{
    position: relative;
    z-index: 1;
}
.footer__info{
    background: #445267;
    border-radius: 30px;
    max-width: 708px;
    width: 100%;
    margin-left: 24px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 108px 40px 48px;
    justify-content: space-between;
}
.footer__info:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../img/phone12.webp");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 82px;
    width: 100%;
    height: 96px;
    border-radius: 0 0 30px 0;
}
.footer__contact:nth-child(3){
    margin-bottom: 0;
}
.footer__contact{
    margin-bottom: 33px;
}
.footer__contact small{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #798CA2;
}
.footer__contact strong{
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.03em;
    margin-top: 10px;
    color: #FFFFFF;
    display: block;
}
.footer__btn{
    padding: 16px 40px;
    max-width: 230px;
    width: 100%;
    height: 52px;
    background: rgba(57, 181, 74, 0.1);
    border: 1px solid #39B54A;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #39B54A;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}
.footer__btn:hover{
    background: #39B54A;
    color: #FFFFFF;
}
.social-networks__fl{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-networks{
    max-width: 708px;
    width: 100%;
    background: #445267;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.social-networks__tit{
    display: flex;
    align-items: center;
}
.social-networks__tit span{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    display: block;
    margin-right: 16px;
}
.social-networks ul{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.social-networks ul li{
    margin-left: 12px;
}
.social-networks ul li a{
    transition: 0.3s;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #53637A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-networks ul li a:hover{
    background: #485568;
}

.footer__stock{
    box-shadow: 0px 15px 50px rgba(0, 174, 17, 0.25);
    border-radius: 30px;
    background-image: url("../img/fon-fot.webp");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 464px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}
.footer__stock strong{
    display: block;
    margin-right: 24px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #39B54A;
}
.footer__rev_fl{
    display: flex;
    justify-content: space-between;
    margin: 24px -12px 0;
}
.footer__rev_box{
    width: 25%;
    padding: 0 12px;
}
.footer__rev_box a{
    width: 100%;
    height: 140px;
    background: #445267;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 38px;
    position: relative;
    transition: 0.3s;
}
.footer__rev_box a:hover{
    background: #53637A;
}
.footer__rev_box a span{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__rev_box a img{
    position: absolute;
    bottom: 0;
    right: 16px;
}
.footer__rev_box:nth-child(1) a img{
    border-radius: 0 0 30px 0;
    right: 0;
}
.footer__rev_box:nth-child(4) a img{
    border-radius: 0 0 10px 0;
}

.footer__href {
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.footer__href a + a{
    margin-left: 24px;
}
.footer__href a{
    padding: 16px 65px;
    width: max-content;
    background: #445267;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}
.footer__href a:hover{
    background: #53637A;
}

.footer__police{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(130, 175, 251, 0.2);
    padding-top: 32px;
}
.footer__police a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #798CA2;
}
.footer__soc{
    display: none;
}
@media (max-width: 1299px){
    .footer__href a {
        padding: 16px 40px;
    }
}
@media (max-width: 1199px){
    footer {
        padding: 70px 0 40px;
    }
    .footer__logo {
        max-width: 420px;
    }
    .footer__info {
        padding: 40px 50px 40px 30px;
    }
    .social-networks {
        padding: 20px;
    }
    .social-networks__tit span {
        font-size: 16px;
        line-height: 23px;
        margin-right: 8px;
    }
    .social-networks ul {
        margin-left: 10px;
    }
    .social-networks ul li {
        margin-left: 6px;
    }
    .footer__stock {
        max-width: 422px;
        height: 92px;
        margin-left: 24px;
    }
    .footer__stock strong {
        margin-right: 18px;
        font-size: 28px;
        line-height: 34px;
    }
    .footer__rev_box a {
        height: 130px;
        padding-left: 18px;
    }
    .footer__rev_fl {
        margin: 24px -6px 0;
    }
    .footer__rev_box {
        padding: 0 6px;
    }
    .footer__contact strong {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 1099px){
    .footer__stock {
        max-width: 340px;
        margin-left: 20px;
    }
    .footer__logo {
        max-width: 370px;
        height: 230px;
    }
}
@media (max-width: 991px){
    .footer__cnt {
        flex-direction: column;
        align-items: center;
    }
    .footer__info {
        padding: 40px 30px 40px 30px;
        margin-left: 0;
        margin-top: 15px;
        border-radius: 20px;
    }
    .social-networks__fl {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }
    .footer__stock {
        margin-left: 0;
        margin-top: 15px;
    }
    .footer__logo {
        max-width: 370px;
        height: 200px;
        border-radius: 20px;
    }

    .footer__logo:after {
        background-size: contain;
        height: 178px;
        border-radius: 0 0 20px 0;
    }
    .social-networks {
        border-radius: 20px;
    }
    .footer__rev_box a {
        height: 140px;
        padding-left: 36px;
        border-radius: 20px;
    }
    .footer__rev_box {
        padding: 6px 6px;
        width: 50%;
    }
    .footer__rev_fl {
        margin: 12px -6px 0;
        flex-wrap: wrap;
    }
    .footer__href {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 15px;

    }
    .footer__href a + a {
        margin-left: 0;
    }
    .footer__href a {
        padding: 16px 40px;
    }
    .footer__soc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 10px;
        left: 0;
        width: 100%;
        padding: 0 15px;
        z-index: 99;
    }
    .footer__soc a{
        padding: 6px 12px 6px 6px;
        width: 133px;
        height: 42px;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__soc a span{
        display: block;
        margin-left: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .footer__whatsapp{
        background: #21D46E;

    }
    .footer__phone{
        background: #00AAFF;
    }
    .footer__stock {
        border-radius: 20px;
    }
    footer {
        padding: 60px 0 70px;
    }
}
@media (max-width: 760px){
    .footer__info:after{
        display: none;
    }
    .social-networks ul li a {
        width: 46px;
        height: 46px;
    }
    .social-networks {
        border-radius: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .social-networks ul {
        margin-left: 0;
        margin-top: 20px;
    }
    .social-networks ul li {
        margin-left: 0;
        margin-right: 6px;
    }

    .footer__logo img {
        max-width: 170px;
    }
    .footer__info {
        padding: 20px 20px 20px 20px;
    }
}
@media (max-width: 480px){
    .footer__logo:after {
        height: 170px;
        max-width: 160px;
    }
    .footer__logo {
        height: 185px;
    }
    .footer__btn {
        padding: 16px 30px;
        max-width: 280px;
        margin: 30px auto 0;
    }
    .footer__rev_box {
        width: 100%;
    }
    .footer__href a {
        padding: 16px 30px;
        width: 100%;
    }
    .footer__logo img {
        max-width: 163px;
    }
    .footer__stock {
        max-width: 360px;
    }
    .footer__stock {
        background-position: center;
    }
}

@media (max-width: 369px){
    .social-networks ul li a {
        width: 40px;
        height: 40px;
    }
    .social-networks {
        padding: 20px 15px;
    }
    .social-networks ul li {
        margin-right: 5px;
    }
}