.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.close:before{
    width: 100%;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 100%;
}

.modal__video{
    max-width: 915px;
    width: 100%;
    position: relative;
    height: 515px;
}
.modal__video video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.modal__video .close{
    top: -45px;
    right: 0;
}
.modal__reg{
    max-width: 464px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 40px 32px;
    position: relative;
}
.modal__reg h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #24262C;
}
.modal__reg>span{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
    color: #5B5B5B;
    display: block;
}
.mod__form{
    margin: 32px 0 0;
}
.modal-input{
    width: 100%;
}
.modal-input + .modal-input{
    margin-top: 20px;
}
.modal-textarea{
    margin-top: 20px;
}
.modal-input label, .modal-textarea label{
    width: 100%;
}
.modal-input label input, .modal-textarea label textarea{
    padding: 13px 24px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    color: #24262C;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.modal-input label input:hover{
    background: rgba(57, 181, 74, 0.05);
    border: 1px solid #39B54A;
}
.modal-textarea label textarea{
    height: 160px;
}
.modal-textarea label textarea::placeholder{
    font-family: 'Gilroy';
}
.modal-textarea label textarea:hover{
    background: rgba(57, 181, 74, 0.05);
    border: 1px solid #39B54A;
}
.mod__form p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 16px;
    color: #5B5B5B;
}
.mod__form .btn-dark{
    margin-top: 32px;
    max-width: 100%;
}

.address__form{
    margin-top: 16px;
}
.address__form .btn-dark{
    margin-top: 24px;
    max-width: 100%;
}
.address__lab{
    margin-top: 12px;
}
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 39px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #F4F6F7;
    border-radius: 12px;
    width: 100%;
    height: 90px;
    padding-top: 12px;
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiobtn {
    position: absolute;
    top: 13px;
    left: 11px;
    height: 18px;
    width: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #ACB2B5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkcontainer input:checked ~ .radiobtn {
    border: 1px solid #39B54A;
    background: #39B54A;
}
.checkcontainer .radiobtn:after {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
}
.checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}
.address__check strong{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #24262C;

}
.address__check p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ACB2B5;
    margin-top: 4px;
}
.address__check small{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    margin-top: 8px;
    color: #24262C;
    display: block;
}
#modal-address .modal-content{
    align-items: flex-end;
}
#modal-address .modal__reg {
    max-width: 390px;
    padding: 32px 15px;
    border-radius: 20px 20px 0px 0px;
}
.close__line{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 31px;
    height: 4px;
    background: #CFCFCF;
    border-radius: 3px;
    cursor: pointer;
}
@media (max-width: 991px){
    .modal__video {
        max-width: 700px;
        height: 450px;
    }
}
@media (max-width: 760px){
    .modal__video {
        max-width: 500px;
        height: 350px;
    }
}
@media (max-width: 480px){
    .modal__video {
        max-width: 352px;
        height: 330px;
    }
    .modal__reg {
        max-width: 360px;
        padding: 32px 20px;
    }
    .modal__reg h3 {
        font-size: 26px;
        line-height: 34px;
    }
    .modal__reg>span {
        font-size: 16px;
        line-height: 19px;
        margin-top: 8px;
    }
    .modal-input label input {
        height: 56px;
        font-size: 16px;
    }
    .modal-input + .modal-input {
        margin-top: 16px;
    }
    .mod__form .btn-dark {
        margin-top: 26px;
    }
}